<div
  id="menu"
  role="dialog"
  class="hidden fixed top-0 left-0 z-50 flex w-full h-full justify-end bg-opacity-50 backdrop-blur-sm transition-all ease-in-out duration-100"
>
  <div
    id="menu-content"
    class="flex flex-col w-full max-w-xs py-2 bg-lightgray dark:bg-darkgray shadow-2xl animate-slideInRight animate-faster transition-all ease-in-out duration-100"
  >
    <div class="flex justify-between p-4 border-b border-lightgray-100 dark:border-darkgray-100">
      <h3 class="font-bold text-2xl text-lightgray-900 dark:text-darkgray-900">&lt;Renan Hipster /&gt;</h3>
      <button id="close-menu" class="p-1 rounded-lg hover:bg-lightgray-100 dark:hover:bg-darkgray-100">
        <svg
          class="stroke-lightgray-600 dark:stroke-darkgray-600"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M18 6L6 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <ul class="flex flex-col w-full p-4 gap-4 border-b border-lightgray-100 dark:border-darkgray-100">
      <li class="flex">
        <a id="menu-about" class="w-full font-medium text-base text-lightgray-600 dark:text-darkgray-600" href="archive.html">Blog Archive</a>
      </li>
    </ul>
    <div class="flex flex-col p-4 gap-4">
      <div class="flex justify-between">
        <p class="font-normal text-base text-lightgray-600 dark:text-darkgray-600">Switch Theme</p>
        <button id="switch-theme-mobile" class="p-1 rounded-lg hover:bg-lightgray-100 dark:hover:bg-darkgray-100">
          <svg
            class="stroke-lightgray-600 flex dark:hidden animate-bounce"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 3C10.8065 4.19347 10.136 5.81217 10.136 7.5C10.136 9.18783 10.8065 10.8065 12 12C13.1935 13.1935 14.8122 13.864 16.5 13.864C18.1878 13.864 19.8065 13.1935 21 12C21 13.78 20.4722 15.5201 19.4832 17.0001C18.4943 18.4802 17.0887 19.6337 15.4442 20.3149C13.7996 20.9961 11.99 21.1743 10.2442 20.8271C8.49836 20.4798 6.89472 19.6226 5.63604 18.364C4.37737 17.1053 3.5202 15.5016 3.17294 13.7558C2.82567 12.01 3.0039 10.2004 3.68509 8.55585C4.36628 6.91131 5.51983 5.50571 6.99987 4.51677C8.47991 3.52784 10.22 3 12 3Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M19 3V7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 5H17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg
            class="stroke-darkgray-600 hidden dark:flex animate-bounce"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M12 2V4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12 20V22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4.93018 4.92999L6.34018 6.33999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M17.6602 17.66L19.0702 19.07" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M2 12H4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M20 12H22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6.34018 17.66L4.93018 19.07" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M19.0702 4.92999L17.6602 6.33999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <a href="about.html" target="_blank" rel="noopener noreferrer">
        <button
          class="flex w-full items-center justify-center font-medium text-base text-center text-lightgray-50 dark:text-darkgray-50 bg-lightgray-900 dark:bg-darkgray-900 rounded-xl py-1.5 px-4 gap-2 hover:bg-lightgray-700 dark:hover:bg-darkgray-700 active:bg-lightgray-800 dark:active:bg-darkgray-800 transition-all ease-in-out duration-200"
        >
          <span> About</span>
          <svg
            class="stroke-lightgray-600 dark:stroke-darkgray-600"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 19V25C24 25.5304 23.7893 26.0391 23.4142 26.4142C23.0391 26.7893 22.5304 27 22 27H11C10.4696 27 9.96086 26.7893 9.58579 26.4142C9.21071 26.0391 9 25.5304 9 25V14C9 13.4696 9.21071 12.9609 9.58579 12.5858C9.96086 12.2107 10.4696 12 11 12H17"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M21 9H27V15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 20L27 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
<header class="sticky top-0 z-30 w-full bg-lightgray/90 dark:bg-darkgray/90">
  <div class="flex w-full max-w-7xl mx-auto items-center justify-between p-4 md:px-8 xl:px-20">
    <a href="#">
      <h3 class="font-bold text-2xl lg:text-3xl text-lightgray-900 dark:text-darkgray-900">&lt;Renan Hipster /&gt;</h3>
    </a>
    <div class="hidden md:flex items-center gap-6">
      <a class="font-medium text-base text-lightgray-600 dark:text-darkgray-600" href="archive.html">Blog Archive</a>
      <span class="h-6 w-0.5 bg-lightgray-100 dark:bg-darkgray-100"></span>
      <button id="switch-theme" class="p-1 rounded-lg hover:bg-lightgray-100 dark:hover:bg-darkgray-100">
        <svg
          class="stroke-lightgray-600 flex dark:hidden animate-bounce"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 3C10.8065 4.19347 10.136 5.81217 10.136 7.5C10.136 9.18783 10.8065 10.8065 12 12C13.1935 13.1935 14.8122 13.864 16.5 13.864C18.1878 13.864 19.8065 13.1935 21 12C21 13.78 20.4722 15.5201 19.4832 17.0001C18.4943 18.4802 17.0887 19.6337 15.4442 20.3149C13.7996 20.9961 11.99 21.1743 10.2442 20.8271C8.49836 20.4798 6.89472 19.6226 5.63604 18.364C4.37737 17.1053 3.5202 15.5016 3.17294 13.7558C2.82567 12.01 3.0039 10.2004 3.68509 8.55585C4.36628 6.91131 5.51983 5.50571 6.99987 4.51677C8.47991 3.52784 10.22 3 12 3Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path d="M19 3V7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M21 5H17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <svg
          class="stroke-darkgray-600 hidden dark:flex animate-bounce"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path d="M12 2V4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 20V22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M4.93018 4.92999L6.34018 6.33999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M17.6602 17.66L19.0702 19.07" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M2 12H4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20 12H22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6.34018 17.66L4.93018 19.07" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M19.0702 4.92999L17.6602 6.33999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <a href="about.html" target="_blank" rel="noopener noreferrer">
        <button
          class="flex w-full items-center font-medium text-base text-center text-lightgray-50 dark:text-darkgray-50 bg-lightgray-900 dark:bg-darkgray-900 rounded-xl py-1.5 px-4 gap-2 hover:bg-lightgray-700 dark:hover:bg-darkgray-700 active:bg-lightgray-800 dark:active:bg-darkgray-800 transition-all ease-in-out duration-200"
        >
          <span> About</span>
          <svg
            class="stroke-lightgray-600 dark:stroke-darkgray-600"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 19V25C24 25.5304 23.7893 26.0391 23.4142 26.4142C23.0391 26.7893 22.5304 27 22 27H11C10.4696 27 9.96086 26.7893 9.58579 26.4142C9.21071 26.0391 9 25.5304 9 25V14C9 13.4696 9.21071 12.9609 9.58579 12.5858C9.96086 12.2107 10.4696 12 11 12H17"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M21 9H27V15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 20L27 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </a>
    </div>
    <button id="hamburger" class="flex md:hidden z-20 rounded-lg hover:bg-lightgray-100 dark:hover:bg-darkgray-100">
      <svg
        class="stroke-lightgray-600 dark:stroke-darkgray-600"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M10 18H26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M10 12H26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M10 24H26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</header>


<script>
  document.addEventListener('DOMContentLoaded', initialize);

  async function initialize() {
    setupMenuActions();
    setupThemeActions();
  }

  function setupMenuActions() {
    const hamburger = document.querySelector('#hamburger');
    const menu = document.querySelector('#menu');
    const menuContent = document.querySelector('#menu-content');
    const closeMenuButton = document.querySelector('#close-menu');

    hamburger.addEventListener('click', toggleElementVisibility.bind(null, menu));
    closeMenuButton.addEventListener('click', closeMenuContent);

    menu.addEventListener('click', closeIfDirectClick.bind(null, menu, closeMenuContent));
    menuContent.addEventListener('click', closeIfMenuSectionClicked.bind(null, closeMenuContent));
  }

  function setupThemeActions() {
    const switchButtons = document.querySelectorAll('#switch-theme-mobile, #switch-theme');

    switchButtons.forEach(button => button.addEventListener('click', toggleTheme));
    loadTheme();
  }

  async function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function animateAndClose(content, className, dialog) {
    content.classList.add(className);
    await sleep(250);
    content.classList.remove(className);
    dialog.classList.add('hidden');
  }

  function closeDialog(content, dialog) {
    animateAndClose(content, 'animate-slideOutDown', dialog);
  }

  function toggleElementVisibility(element) {
    element.classList.toggle('hidden');
  }

  function closeIfDirectClick(element, closeFunction, event) {
    if (event.target === element) closeFunction();
  }

  function closeIfMenuSectionClicked(closeFunction, event) {
    if (event.target.closest('#menu-about, #menu-services, #menu-work, #menu-contact')) {
      setTimeout(closeFunction, 500);
    } else {
      event.stopPropagation();
    }
  }

  async function closeMenuContent() {
    const menu = document.querySelector('#menu');
    const menuContent = document.querySelector('#menu-content');

    await animateAndClose(menuContent, 'animate-slideOutRight', menu);
  }

  function toggleTheme() {
    document.documentElement.classList.toggle('dark');
    const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
    setTheme(theme);
  }

  function loadTheme() {
    const theme = localStorage.theme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    setTheme(theme);
  }

  function setTheme(theme) {
    document.documentElement.classList.toggle('dark', theme === 'dark');
    localStorage.theme = theme;
  }
</script>
