---
layout: default_tailwindcss
---

<section id="introduction" class="flex flex-col w-full py-10 md:py-10">
  <div class="flex flex-col w-full max-w-7xl mx-auto px-4 md:px-8 xl:px-20 gap-2 md:gap-2">
    <p class="font-normal text-base text-lightgray-600 dark:text-darkgray-600">
      I am
      <a
        class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
        href="/about.html"
        target="_blank"
        rel="noopener noreferrer"
      >Renan Franca</a
      >
      , as a software engineer and member of the
      <a
        class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
        href="https://seed4j.com/docs/team.html"
        target="_blank"
        rel="noopener noreferrer"
        >Seed4J Core Team</a
      >
      and
      <a
        class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
        href="https://www.jhipster.tech/team/"
        target="_blank"
        rel="noopener noreferrer"
        >JHipster Core Team</a
      >, I'm excited to share my experiences with
      <a
        class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
        href="https://seed4j.com"
        target="_blank"
        rel="noopener noreferrer"
        >Seed4J</a
      >
      and
      <a
        class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
        href="https://github.com/seed4j/seed4j-cli"
        target="_blank"
        rel="noopener noreferrer"
        >Seed4J CLI >_</a
      >.
    </p>
    <p class="font-normal text-base text-lightgray-600 dark:text-darkgray-600">
      Additionally, I'll offer some helpful tips and tricks related to various other technologies and tools.
    </p>
    <p class="font-normal text-base text-lightgray-600 dark:text-darkgray-600">Enjoy ✌!</p>
  </div>
</section>

<section id="posts" class="flex flex-col w-full py-16 md:py-24 gap-6">
  <div class="flex flex-col w-full max-w-7xl mx-auto px-4 md:px-8 xl:px-20 gap-6 md:gap-12">
    <div class="flex flex-col gap-4">
      <div class="flex justify-center items-center gap-3">
        <p
          class="font-medium text-sm text-center text-gray-600 dark:text-darkgray-600 py-1 px-5 rounded-xl bg-lightgray-200 dark:bg-darkgray-200"
        >
          Posts
        </p>
        <a
          href='{{ "/feed.xml" | relative_url }}'
          class="flex items-center gap-1.5 font-medium text-sm text-lightgray-600 dark:text-darkgray-600 py-1 px-4 rounded-xl border border-lightgray-200 dark:border-darkgray-200 transition-all hover:bg-lightgray-200 dark:hover:bg-darkgray-200"
          target="_blank"
          rel="noopener noreferrer"
          title="Subscribe via RSS"
        >
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg>
          RSS
        </a>
      </div>
      <p class="font-normal text-lg lg:text-xl text-center text-lightgray-600 dark:text-darkgray-600">I am sharing my own experiences</p>
    </div>
    {%- if site.posts.size > 0 -%} {%- for post in site.posts -%} {% unless post.draft %}
    <!--    TODO: ajustar link da imagem e o link ao clicar para abrir em outra aba -->
    <div class="flex flex-col md:flex-row rounded-xl shadow-md dark:shadow-xl">
      <div
        class="flex w-full md:w-1/2 items-center justify-center p-8 rounded-t-xl md:rounded-tr-none md:rounded-l-xl bg-lightgray-50 dark:bg-darkgray-200"
      >
        <a href="{{ post.url | relative_url }}" rel="noopener noreferrer">
          <div class="flex w-[242px] h-[101.68px] md:w-[334px] md:h-[140.34px] lg:w-[434px] lg:h-[182.35px]">
            <img
              class="rounded-xl shadow-lg transition-transform duration-500 md:hover:scale-105"
              src="{{ post.image | relative_url }}"
              alt="Post Cover Image"
              loading="lazy"
            />
          </div>
        </a>
      </div>
      <div class="flex flex-col md:w-1/2 p-8 gap-6 rounded-b-xl md:rounded-bl-none md:rounded-r-xl dark:bg-darkgray-100">
        <p class="font-semibold text-lg text-left text-lightgray-900 dark:text-darkgray-900">
          <a
            class="underline underline-offset-4 transition-all hover:text-lightgray-900 dark:hover:text-darkgray-900 active:text-lightgray-600 dark:active:text-darkgray-600"
            href="{{ post.url | relative_url }}"
            rel="noopener noreferrer"
          >
            {{ post.title | escape }}
          </a>
        </p>
        <p class="font-medium text-sm text-left text-lightgray-500 dark:text-darkgray-500">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {{ post.date | date: date_format }}
        </p>
        <p class="font-normal text-base text-left text-lightgray-600 dark:text-darkgray-600">{{ post.description | escape }}</p>
        <div class="flex flex-wrap gap-2">
          {%- for tag in post.tags -%}
          <p
            class="font-medium text-sm text-center text-gray-600 dark:text-darkgray-600 py-1 px-5 bg-lightgray-200 dark:bg-darkgray-200 rounded-xl"
          >
            {{ tag | escape }}
          </p>
          {%- endfor -%}
        </div>
        <a href="{{ post.url | relative_url }}" target="_blank" rel="noopener noreferrer">
          <svg
            class="stroke-lightgray-600 dark:stroke-darkgray-600"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 19V25C24 25.5304 23.7893 26.0391 23.4142 26.4142C23.0391 26.7893 22.5304 27 22 27H11C10.4696 27 9.96086 26.7893 9.58579 26.4142C9.21071 26.0391 9 25.5304 9 25V14C9 13.4696 9.21071 12.9609 9.58579 12.5858C9.96086 12.2107 10.4696 12 11 12H17"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path d="M21 9H27V15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16 20L27 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </div>
    </div>
    {% endunless %} {%- endfor -%} {%- endif -%}
  </div>
</section>
