---
layout: default_tailwindcss
---
<link href="/css/override.css" rel="stylesheet" type="text/css">

<article class="flex flex-col w-full py-10 md:py-16">
  <div class="flex flex-col w-full max-w-7xl mx-auto px-4 md:px-8 xl:px-20 gap-8">
    <header class="flex flex-col gap-4">
      <h1 class="font-bold text-3xl md:text-4xl text-lightgray-900 dark:text-darkgray-900">{{ page.title | escape }}</h1>
    </header>

    <div class="flex flex-col gap-6 font-normal text-base text-lightgray-600 dark:text-darkgray-600">
      {% include anchor_headings.html html=content anchorBody="<i class='fa fa-link header-link'></i>" %}
    </div>
  </div>
</article> 
